<div class="right-content-info" style="min-width:1021px">
  <div class="head-tips">
    <span class=tips-info>平台管理 / 客户管理 / <em>客户详情</em></span>
  </div>
  <div class="detail-content detail-content-pad txt-pos">
    <div class="person-info-block">
      <div class="info-head">
        <span>账号信息</span>
      </div>
      <div class="table-info-person">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
              <td><span>姓名</span></td>
              <td><span>手机号</span></td>
              <td><span>性别</span></td>
              <td><span>年龄</span></td>
              <td><span>注册时间</span></td>
              <td><span>健康服务专员</span></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span>{{!!userInfo['name']?userInfo['name']:'未知'}}</span></td>
              <td><span>{{userInfo['mobile']}}</span></td>
              <td><span>{{userInfo['sex'] === 'M' ? '男' : '女'}}</span></td>
              <td><span>{{userInfo['birdthday'] | pipeBirth}}</span></td>
              <td><span>{{userInfo['createDt'] | date:'yyyy-MM-dd'}}</span></td>
              <td><span>{{userInfo['commissionerUserName']?userInfo['commissionerUserName']:'无'}}</span></td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="data-info-inline">

      <div class="order-info">
        <div class="info-head-inline">
          <span>订单数据</span>
        </div>
        <div class="table-info overflow-table" [hidden]="list.length == 0?true:false">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <td><span>订单编号</span></td>
                <td><span>服务包</span></td>
                <td><span>购买时间</span></td>
                <td><span>订单状态</span></td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor=" let item of list">
                <td><span class="opt"><em [routerLink]="['/home/orderdetail',item.serviceOrderId]">{{item.serviceOrderId}}</em></span></td>
                <td><span>{{item.servicePackName}}</span></td>
                <td><span>{{item.buyDt | date:'yyyy-MM-dd'}}</span></td>
                <td><span>{{item.statue == '0'?'已停止':'已启动'}}</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <nothing [isHidden]="list.length==0?false:true"></nothing>

      </div>

    </div>



  </div>
</div>
