<div class="right-content-info" style="min-width:1021px">
  <div class="head-tips">
    <span class=tips-info>平台管理 / 客户管理 / <em>客户详情</em></span>
  </div>
  <div class="detail-content detail-content-pad txt-pos">
    <div class="person-info-block">
      <div class="info-head">
        <span>账号信息</span>
      </div>
      <div class="table-info-person">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
              <td><span>姓名</span></td>
              <td><span>手机号</span></td>
              <td><span>性别</span></td>
              <td><span>年龄</span></td>
              <td><span>注册时间</span></td>
              <td><span>健康服务专员</span></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span>{{!!userInfo.name?userInfo.name:'未知'}}</span></td>
              <td><span>{{userInfo.mobile}}</span></td>
              <td><span>{{userInfo.sex === 'M' ? '男' : '女'}}</span></td>
              <td><span>{{getAge(userInfo.birdthday | date:'yyyy-MM-dd')}}</span></td>
              <td><span>{{userInfo.createDt | date:'yyyy-MM-dd'}}</span></td>
              <td><span>{{userInfo.commissionerUserName?userInfo.commissionerUserName:'无'}}</span></td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="data-info-inline">

      <div class="order-info">
        <div class="info-head-inline">
          <span>订单数据</span>
        </div>
        <div class="table-info overflow-table" [hidden]="list.length == 0?true:false">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <td><span>订单编号</span></td>
                <td><span>服务包</span></td>
                <td><span>购买时间</span></td>
                <td><span>订单状态</span></td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor=" let item of list">
                <td><span class="opt"><em ui-sref="home.orderdetail({'pkgId':item.serviceOrderId})">{{item.serviceOrderId}}</em></span></td>
                <td><span>{{item.servicePackName}}</span></td>
                <td><span>{{item.buyDt | date:'yyyy-MM-dd'}}</span></td>
                <td><span>{{item.statue == '0'?'已停止':'已启动'}}</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <nothing [isHidden]="list.length==0?false:true"></nothing>

      </div>

      <div class=" order-info health-report">
        <div class="info-head-inline">
          <span>健康报告</span>
        </div>
        <div class="table-info overflow-table" [hidden]="reportList.length==0?'true':false">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <td><span>报告名称</span></td>
                <td><span>创建时间</span></td>
                <td><span>操作</span></td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of reportList">
                <td><span>{{item.reportTitle}}</span></td>
                <td [hidden]="!!item.customerId"><span>{{item.createdAt | slice:0:19}}</span></td>
                <td [hidden]="!item.customerId"><span>{{item.createDt | date:'yyyy-MM-dd HH:mm:ss'}}</span></td>
                <td [hidden]="item.customerId"><a target="_blank" style="text-decoration: none;color: #03a9f4;" href="{{reportDomain}}{{item.reportUrl}}">详情</a></td>
                <td [hidden]="!item.customerId"><a target="_blank" style="text-decoration: none;color: #03a9f4;" href="{{healthReportDomain}}{{item.reportUrl}}">详情</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <nothing [isHidden]="reportList.length==0?false:true"></nothing>
      </div>

    </div>

    <!-- <div class="mybox mybox-lit">
      <div class="info-head-inline">
        <span>实时数据</span>
      </div>
      <div class="halfpart">
        <span>心率/HR:</span><span ng-bind="heartBeating" id="ht{{equipNo}}"></span> 次/分
      </div>
      <div class="halfpart">
        <span>呼吸率/RR:</span><span ng-bind="breathLevel" id="bl{{equipNo}}"></span> 次/分
      </div>
      <div class="halfpart">
        <span>设备状态:</span><span id="sta{{equipNo}}">-</span>
      </div>
    </div> -->

    <!-- <div class="mybox mybox-h1 mybox-h1-{{bedList.length}}">
      <div class="box-head">
        <div class="box-head-line">智能床数据</div>
        <div class="box-tools">
          <span class="day-1-{{periodDay}}" (click)="changePeriodDay(1)">最近一天</span><span class="day-7-{{periodDay}}" (click)="changePeriodDay(7)">最近七天</span><span class="day-30-{{periodDay}}" (click)="changePeriodDay(30)">最近一月</span>
        </div>
      </div>
      <div class="show-info-{{bedList.length}}">
        <echarts-ng2 [option]="optionOne"></echarts-ng2>
        <echarts-ng2 [option]="optionFour"></echarts-ng2>
      </div>
      <nothing [isHidden]="bedList.length == 0?false:true"></nothing>
    </div> -->


    <div class="mybox" style="height:700px">
      <div class="box-head">
        <div class="box-head-line">健康监测数据</div>
        <div class="box-tools">
          <span class="day-1-{{periodDay}}" (click)="changePeriodDay(1)">最近一天</span><span class="day-7-{{periodDay}}" (click)="changePeriodDay(7)">最近七天</span><span class="day-30-{{periodDay}}" (click)="changePeriodDay(30)">最近一月</span> <i ui-sref="home.monitorData({'userId':userId})">全部</i>
        </div>
      </div>
      <div class="mybox-half bor">
        <app-blood-pressure [userId]="userId" [periodDay]="periodDay"></app-blood-pressure>
      </div>


      <div class="mybox-half" style="border-bottom: 1px solid #e5e5e5;">
        <app-blood-sugar [userId]="userId" [periodDay]="periodDay"></app-blood-sugar>
      </div>

      <div class="mybox-half" style="border-top: 1px solid #e5e5e5;border-right: 1px solid #e5e5e5;">
        <app-bmi-line [userId]="userId" [periodDay]="periodDay"></app-bmi-line>
      </div>
      <div class="mybox-half">
        <app-blood-oxygen [userId]="userId" [periodDay]="periodDay"></app-blood-oxygen>
      </div>
    </div>



  </div>
</div>
