.statistics-info {
  min-width: 1200px;
  padding: 20px;

  .fbchoose {
    // margin: 20px;
  }

  .org {
    display: block;
    margin: 15px 0 50px;
    text-align: left;

    select {
      width: 200px;
      height: 30px;
      border: 1px solid #d2d2d2;
      background-color: white;
      padding: 0 10px;
    }
  }

  .inline-part {
    display: inline-block;
    width: 33%;
  }

  .bg {
    padding-left: 0;

    table {
      tbody {
        tr:last-child {
          span {
            color: #9e0000;
          }
        }
      }
    }
  }
}
