<div class="right-content-info statistics-info">
  <div class="fbchoose">
    <app-line-btn [totalBtn]="[ '客户分类统计', '设备使用统计','订单数统计']" (btnInfo)="toogleChoosed($event)"></app-line-btn>
  </div>
  <div class="detail-content">

    <div class="" *ngIf="choosedBtn ==0">
      <div class="org">
        <span>机构</span>
        <select class="" name="" [(ngModel)]="groupName" (change)="onChange($event.target.value)">
          <option  *ngFor="let item of groupList" value="{{item.socialWelfareId}}">{{item.socialWelfareName}}</option>
        </select>
      </div>
      <div class="inline-part">
        <app-circle-line topTitle="按机构统计" [serisesData]="orgArray"></app-circle-line>
      </div>
      <div class="inline-part">
        <app-circle-line topTitle="按性别统计" [serisesData]="genderArray"></app-circle-line>
      </div>
      <div class="inline-part">
        <app-circle-line topTitle="按年龄统计" [serisesData]="ageArray"></app-circle-line>
      </div>
    </div>

    <div class="" *ngIf="choosedBtn == 1">
      <div class="table-info bg">
        <table cellpadding="0" cellspacing="0" border="0 " *ngIf="equipUseArray.length>0">
          <thead>
            <tr>
              <td><span>机构</span></td>
              <td><span>客户数</span></td>
              <td><span>便携式多体征检测系统</span></td>
              <td><span>智能床用体征监测系统</span></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of equipUseArray">
              <td><span>{{item.organizationName}}</span></td>
              <td><span>{{item.customerCount}}</span></td>
              <td><span>{{item.manySignsCardCount}}</span></td>
              <td><span>{{item.smartBedCount}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <app-bar-lines topTitle="设备统计表" [serisesData]="equipArrays" [xData]="orgName" [legendData]="['客户数','便携式多体征检测系统','智能床用体征监测系统']"></app-bar-lines>

    </div>
    <div class="" *ngIf="choosedBtn ==2">
      <div class="table-info bg">
        <table cellpadding="0" cellspacing="0" border="0" *ngIf="orderList.length>0">
          <thead>
            <tr>
              <td><span>机构</span></td>
              <td><span>客户数</span></td>
              <td><span>多体征监测服务包</span></td>
              <td><span>睡眠监测服务包</span></td>
              <td><span>慢病管理服务包</span></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of orderList">
              <td><span>{{item.organizationName}}</span></td>
              <td><span>{{item.customerCount}}</span></td>
              <td><span>{{item.manySignsServicePackCount}}</span></td>
              <td><span>{{item.sleepServicePacksCount}}</span></td>
              <td><span>{{item.slowDiseaseServicePacksCount}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <app-bar-lines topTitle="订单数统计" [serisesData]="equipArrays" [xData]="orgName" [legendData]="['客户数','多体征监测服务包','睡眠监测服务包','慢病管理服务包']"></app-bar-lines>
    </div>
  </div>
</div>
