<div class="right-content-info shoes-info">
  <div class="detail-content more-pad">
    <div class="person-info-block shoes-person">
      <div class="info-head">
        <span>客户信息</span>
      </div>
      <div class="table-info-person">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
              <td><span>姓名</span></td>
              <td><span>手机号</span></td>
              <td><span>性别</span></td>
              <td><span>年龄</span></td>
              <td><span>注册时间</span></td>
              <td><span>健康服务专员</span></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span>{{!!userInfo?.name?userInfo.name:'未知'}}</span></td>
              <td><span>{{userInfo?.mobile}}</span></td>
              <td><span>{{userInfo?.sex === 'M' ? '男' : '女'}}</span></td>
              <td><span>{{userInfo?.birdthday | pipeBirth}}</span></td>
              <td><span>{{userInfo?.createDt | date:'yyyy-MM-dd'}}</span></td>
              <td><span>{{userInfo.commissionerUserName?userInfo.commissionerUserName:'无'}}</span></td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- <app-beauty-date (fired)="shoeDate($event)"></app-beauty-date> -->
    <div class="maps-info">
      <div class="maps-head">
        定位轨迹
      </div>
      <baidu-map ak="myAk" [options]="opts" [offline]="offlineOpts" (onMapLoaded)="loadMap($event)" (onMarkerClicked)="clickMarker($event)" (onClicked)="clickmap($event)"></baidu-map>
    </div>


    <div [hidden]="posList.length==0">
      <div class="normal-box">
        <div class="box-head">
          <span>跌倒记录</span>
        </div>
        <div class="box-content">
          <div class="table-info connect-box">
            <table cellpadding="0" cellspacing="0" border="0">
              <thead>
                <tr>
                  <td><span>发生时间</span></td>
                  <td><span>发生地址</span></td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let task of posList">
                  <td><span>{{task.localDt}}</span></td>
                  <td><span>{{task.longitude}},{{task.latitude}}</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
