.shoes-info {
  .more-pad {
    padding: 15px 0;
  }

  .shoes-person {
    margin: 10px 0;
  }

  .maps-info {
    .maps-head {
      font-size: 14px;
      color: #333333;
      padding: 10px;
      text-align: left;
      background-color: white;
      border-bottom: 1px solid #E5E5E5;
      background-image: url("/assets/images/head-bg.png");
      background-repeat: no-repeat;
      background-position: left;
      background-size: 4px 5px;
    }

    baidu-map {
      width: 100%;
      height: 600px;
      display: block;
    }
  }
}
