<div class="right-content-info feed-back">

  <div class="fbchoose">
    <app-line-btn [totalBtn]="[ '客户意见', '健康专员意见']" (btnInfo)="toogleChoosed($event)"></app-line-btn>
  </div>
  <div class="detail-content">
    <div class="table-info">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <td><span>{{feedback == '0'?'客户':'健康专员'}}姓名</span></td>
            <td><span>手机号</span></td>
            <td><span>反馈内容</span></td>
            <td><span>处理意见</span></td>
            <td><span>操作</span></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td><span>{{item.name}}</span></td>
            <td><span>{{item.mobile}}</span></td>
            <td><span>{{item.remark}}</span></td>
            <td><span>{{item.dealRemark?item.dealRemark:''}}</span></td>
            <td><span class="opt">
                 <em [hidden]="!item.dealRemark" class="hasremark">已处理</em>
                 <em [hidden]="!!item.dealRemark" (click)="handleFeedBack(feedback == 0? item.opinionId: item.opinionUserId,item,ideas)">处理</em>
              </span></td>
          </tr>
        </tbody>
      </table>
      <app-pages [pages]=pages (pageInfo)="pageTurning($event)" [currentPage]=pageNumber></app-pages>

    </div>
  </div>

  <ng-template #ideas let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title">处理意见</h3>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <div class="line">
        <textarea name="name" rows="8" cols="40" [(ngModel)]="dealInfo"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary spec-btn" (click)="doneFeedBack()">确定</button>
    </div>
  </ng-template>
</div>
