<div class="right-content-info syn-data-info">


  <div class="detail-content">
    <div class="highline">
      <div class="rf  create-btn " (click)="synData()">
        同步到慢病系统
      </div>
    </div>
    <div class="" style="text-align: left;  padding: 20px 0 0 20px;">
      以下数据未同步到慢病系统
    </div>
    <div class="choose-line">
      <app-line-btn [totalBtn]="['客户数据','健康专员数据']"></app-line-btn>
    </div>
    <div class="table-info">
      <table cellpadding="0" cellspacing="0" border="0" [hidden]="taskProgress != 0">
        <thead>
          <tr>
            <td><span>姓名</span></td>
            <td><span>手机号</span></td>
            <td><span>性别</span></td>
            <td><span>年龄</span></td>
            <td><span>注册时间</span></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td><span>{{item.name}}</span></td>
            <td><span>{{item.mobile}}</span></td>
            <td><span>{{item.sex=='M'?'男':'女'}}</span></td>
            <td><span>{{getAge(item.birdthday)}}</span></td>
            <td><span>{{item.createDt | date:'yyyy-MM-dd'}}</span></td>
          </tr>
        </tbody>
      </table>
      <app-pages [pages]=pages (pageInfo)="pageTurning($event)" [currentPage]=pageNumber [sum]=totalPage></app-pages>
    </div>
  </div>
</div>
