<div class="right-content">
  <app-line-info lineInfo="数据同步"></app-line-info>

  <div class="detail-content">
    <div class="syn">
      <span (click)="synData()">同步到慢病系统</span>
    </div>
    <div class="" style="text-align: left;  padding: 20px 0 0 20px;">
      以下数据未同步到慢病系统
    </div>

    <div class="info">
      <table cellpadding="0" cellspacing="0" border="0" [hidden]="taskProgress != 0">
        <thead>
          <tr>
            <td><span>姓名</span></td>
            <td><span>手机号</span></td>
            <td><span>性别</span></td>
            <td><span>年龄</span></td>
            <td><span>注册时间</span></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td><span>{{item.name}}</span></td>
            <td><span>{{item.mobile}}</span></td>
            <td><span>{{item.sex=='M'?'男':'女'}}</span></td>
            <td><span>{{getAge(item.birdthday)}}</span></td>
            <td><span>{{item.createDt | date:'yyyy-MM-dd'}}</span></td>
          </tr>
        </tbody>
      </table>
      <app-pages [pages]=pages (pageInfo)="pageTurning($event)" [currentPage]=pageNumber></app-pages>
    </div>
    <!-- <app-nothing [isHidden]="false"></app-nothing> -->
  </div>
</div>
