@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.login {
  width: 100%;
  padding-top: 100px;
  .login-wrap {
    position: relative;
    height: 600px;
    background-color: #007dff;
    // background-image: url("/img/login-logo.png");
    background-repeat: no-repeat;
    background-position: 75px 184px;
    background-size: 512px 110px;
    overflow: hidden;
    .login-center{
      max-width: 1600px;
      width: 100%;
      position: relative;
      height: 800px;
      margin: auto;
    .login-cont {
      width: 320px;
      position: absolute;
      right: 10%;
      top: 0;
      .login-title {
        color:#6a4306;
        text-align:center;
        h1 {
          font-size: 30px;
          padding: 0;
          margin: 90px 0 0;
          color:white;
        }
        h2 {
          font-size: 28px;
          padding: 0;
          margin: 0;
        }
      }
      .login-form {
        position: relative;
        margin-top: 36px;
        padding: 48px 30px 25px 35px;
        background: rgba(255,255,255,0.30);
        // box-shadow: 3px 30px 60px 0px rgba(210,107,225,0.36), inset 1px 3px 13px 0px #ffe590;
        box-shadow: 3px 30px 60px 0px rgba(210,107,225,0.36);
        border-radius: 12px;
        .login-errmsg {
          position: absolute;
          top: 22px;
          left: 34px;
          color: red;
        }
      }
    }
  }
  }
  .login-input {
    margin-bottom: 25px;
    input.form-text {
      background:#ffffff;
      border:1px solid  #efe9e9;
      border-radius: 4px;
      width: 254px;
      height :40px;
      padding: 0 12px;
      @include border-box;
    }
  }
  .login-input.submit {
    margin-top: 32px;
    margin-bottom: 16px;
  }
  .login-button {
    display: block;
    width:254px;
    height:32px;
    line-height: 32px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #ffe07d;
    color: #fff;
    border: 1px solid #979797;
    box-shadow: inset 0px 2px 4px 0px rgba(255,255,255,0.49);
    border-radius: 4px;
    cursor: pointer;
    @include border-box;
  }
  .rememberPwd {
    margin-bottom: 0;
    text-align: center;
    input[type="checkbox"] {
      display: inline-block;
      vertical-align: middle;
      width: 12px;
      height: 12px;
      border: 1px solid #979797;
      cursor: pointer;
    }
    label {
      margin-left: 5px;
      font-size: 14px;
      color: #808799;
      cursor: pointer;
    }
  }
}
