@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.login {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  // width: 100%;
  // height: 100vh;
  .login-wrap {
    height: 100%;
    min-height: 600px;

    .login-center {
      width: 100%;
      position: relative;
      height: 100%;
      margin: auto;
      background-color: #ffffff;
      background-image: url("/assets/images/image-bg.png");
      background-repeat: no-repeat;
      background-size: 60% auto;
      overflow: hidden;

      .login-cont {
        width: 480px;
        position: absolute;
        right: 0;
        bottom: 0;
        border-top: 2px solid #FECA00;
        border-left: 2px solid #E5E5E5;
        background-color: white;
        top: 0;

        .login-title {
          color: #6a4306;
          text-align: center;
          margin-top: 140px;

          .login-logo {
            background: url('/assets/images/image-logo.png') 0 19px no-repeat;
            background-size: 54px 32px;
            width: 300px;
            height: 94px;
            display: inline-block;
            position: relative;

            span {
              position: absolute;
            }

            span:first-child {
              top: 13px;
              left: 74px;
              font-size: 30px;
              color: #fcc80e;
            }

            span:last-child {
              top: 42px;
              left: 77px;
            }
          }

          h1 {
            font-size: 30px;
            padding: 0;
            color: #6a4306;
            margin: 0;
          }

          h2 {
            font-size: 28px;
            padding: 0;
            margin: 0;
          }
        }

        .login-form {
          position: relative;
          text-align: left;
          padding: 48px 80px;

          input:focus {
            outline-color: #FECA00;
            outline-style: auto;
            outline-width: 2px;
          }

          .login-errmsg {
            position: absolute;
            top: 22px;
            left: 80px;
            color: red;
          }

          .user-name {
            position: absolute;
            background: url("/assets/images/i-username.png") 14px 10px no-repeat;
            background-size: 15px 21px;
            border-right: 1px solid #E5E5E5;
            width: 44px;
            height: 44px;
          }

          .user-pwd {
            position: absolute;
            background: url("/assets/images/i-password.png") 14px 10px no-repeat;
            background-size: 15px 21px;
            border-right: 1px solid #E5E5E5;
            width: 44px;
            height: 44px;
          }
        }
      }
    }
  }

  .login-input {
    margin-bottom: 25px;

    input.form-text {
      background: #ffffff;
      border: 1px solid #efe9e9;
      border-radius: 2px;
      width: 300px;
      height: 44px;
      padding: 0 12px 0 55px;
      font-size: 14px;
      @include border-box;
    }

    input.form-text:placeHolder {
      color: #D2D2D2;
    }
  }

  .login-input.submit {
    margin-top: 32px;
    margin-bottom: 16px;
    width: 300px;
    height: 44px;
  }

  .login-button {
    display: block;
    width: 300px;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #6A4307;
    color: #fff;
    cursor: pointer;
    border-radius: 2px;
    @include border-box;
  }

  .rememberPwd {
    margin-bottom: 0;
    text-align: left;

    input[type="checkbox"] {
      display: inline-block;
      vertical-align: middle;
      width: 12px;
      height: 12px;
      border: 1px solid #979797;
      cursor: pointer;
    }

    label {
      margin-left: 5px;
      font-size: 14px;
      color: #808799;
      cursor: pointer;
    }
  }
}
