$mainComponentColor: #D2D2D2;

.search-info {
  display: inline-block;
  position: relative;

  input {
    border: 1px solid $mainComponentColor;
    color: #333333;
    width: 300px;
    margin-right: 8px;
    border-radius: 4px;
    padding-left: 8px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
  }

  span {
    cursor: pointer;
    height: 18px;
    position: absolute;
    background: url("/assets/images/search.png") 0 0 no-repeat;
    background-size: 17px 18px;
    top: 8px;
    right: 13px;
    width: 20px;
  }
}
