.bedAna {
  margin-top: 10px;

  & > div:first-child {
    text-align: left;
    padding-left: 10px;
    margin-bottom: 20px;
  }

  .flatpickr-input[readonly] {
    background: url('/assets/images/calender-i.png') right 0 no-repeat!important;
    background-size: 30px 30px;
    width: 200px;
    height: 30px;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    color: #333333;
    padding: 2px 4px;
  }

  .black-hole {
    visibility: hidden;
    height: 0!important;
  }
}
