<div class="right-content-info">
  <div class="detail-content">
    <div class="highline">
      <div class="lf">
        <app-search-line placeHolderValue="客户姓名、手机号、专员名" (search)="searchTable($event)"></app-search-line>
      </div>
    </div>
    <div class="table-info errorInfo">
      <table cellpadding="0" cellspacing="0" border="0" [hidden]="list.length==0">
        <thead>
          <tr>
            <td><span>客户姓名</span></td>
            <td><span>性别</span></td>
            <td><span>年龄</span></td>
            <td><span>监测项目</span></td>
            <td><span>监测值</span></td>
            <td><span>异常发生时间</span></td>
            <td><span>异常情况</span></td>
            <td><span>处理意见</span></td>
            <td><span>健康服务专员</span></td>
            <td [hidden]="errorBtn['处理']"><span>操作</span></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list;let index = index">
            <td><span>{{item.custName}}</span></td>
            <td><span>{{item.sex=='M'?'男':'女'}}</span></td>
            <td><span>{{getAge(item.birdthday)}}</span></td>
            <td><span>{{item.missionName}}</span></td>
            <td><span>{{item.missionValue}}</span></td>
            <td><span>{{item.ocurrDate | date:'yyyy-MM-dd'}}</span></td>
            <td><span ngbPopover="{{item.errContent}}" triggers="mouseenter:mouseleave" container="body">{{cultOpinion(item.errContent)}}</span></td>
            <td>
              <span ngbPopover="{{item.remark}}" triggers="mouseenter:mouseleave" container="body">{{cultOpinion(item.remark)}}</span>
            </td>
            <td><span>{{item.commissionerName}}</span></td>
            <td [hidden]="errorBtn['处理']"><span class="opt">
              <em *ngIf="item.enable == 'DISABLE'" style="cursor:auto;color:#a3adb3">已处理</em>
              <em *ngIf = "item.enable!='DISABLE'" (click)="handleErrorDealing(item,ideas)" >处理</em>
            </span></td>
          </tr>
        </tbody>
      </table>
      <nothing [isHidden]="list.length!=0"></nothing>

      <app-pages [pages]=pages (pageInfo)="pageTurning($event)" [currentPage]=pageNumber [sum]=totalPage></app-pages>
    </div>
  </div>
  <ng-template #ideas let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title">处理意见</h3>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <div class="line">
        <textarea name="name" rows="8" cols="40" [(ngModel)]="dealInfo"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary spec-btn" (click)="doneFeedBack()">确定</button>
    </div>
  </ng-template>
</div>
