.syn {
  text-align: right;
  margin: 20px 20px 0;

  span {
    padding: 10px 20px;
    background-color: rgba(22, 155, 213, 1);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
  }
}

.range-time {
  .flatpickr-wrapper {
    div.ng2-flatpickr-input-container {
      input.ng2-flatpickr-input {
        width: 250px;
        border-radius: 4px;
        height: 30px;
        padding: 0 5px;
        border: 1px solid #d2d2d2;
      }

      input.ng2-flatpickr-input::-webkit-input-placeholder {
        font-size: 14px;
        color: #8f8887;
      }
    }
  }
}

.exc {
  text-align: right;
  margin: 10px 0;

  a {
    background-color: #693905;
    color: white;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
}

.errorInfo {
  table tr td span {}
}
$errorTipsMainColor: #6f4100;

.highline {
  position: relative;
  height: 50px;
  padding: 20px;

  .lf {
    float: left;
    padding: 25px 25px 25px 0;
  }

  .rf {
    float: right;
    padding: 5px 10px;
    border: 1px solid $errorTipsMainColor;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
  }
}

.info {
  padding: 20px;

  table {
    width: 100%;
    border: 1px solid $errorTipsMainColor;
    border-radius: 2px;
    text-align: center;

    thead {
      tr {
        span {
          border-bottom: 1px solid $errorTipsMainColor;
          color: $errorTipsMainColor;
          width: 100%;
          display: inline-block;
          //  padding: 10px 0;
          margin: 10px 0;
          min-width: 30px;
        }
      }
    }

    tbody {
      tr {
        span {
          width: 100%;
          display: inline-block;
          padding: 10px 0;
          min-width: 30px;
          color: #8995b4;
          text-align: center;

          em {
            font-style: normal;
            cursor: pointer;
            display: inline-block;
            padding: 0 5px;
            color: #03A9F4;
          }
        }
      }

      tr:nth-child(even) {
        background-color: rgba(217, 237, 247, 0.3);
      }

      tr:last-child {
        span {
          border-bottom: 0;
        }
      }
    }
  }
}
