<div class="right-content-info client-content">
  <div class="detail-content">
    <div class="highline">
      <div class="lf">
        <app-search-line placeHolderValue="客户请输入" (search)="searchTable($event)"></app-search-line>
      </div>
      <div class="rf  create-btn show-{{clientBtn[0].value}}" (click)="open()">
        新增客户
      </div>

    </div>

    <div class="table-info">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <td><span>姓名</span></td>
            <td><span>手机号</span></td>
            <td><span>性别</span></td>
            <td><span>年龄</span></td>
            <td><span>机构</span></td>
            <td><span>注册时间</span></td>
            <td><span>是否监护人</span></td>
            <td><span>已购服务包</span></td>
            <td><span>身份证号</span></td>
            <td><span>健康服务专员</span></td>
            <td><span ui-sref="home.binding">绑定设备</span></td>
            <td><span>操作</span></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listData;let index  =index">
            <td><span>
              <ng-container [ngSwitch]="clientBtn[1].value">
                <em *ngSwitchCase="true"  class="client-name">{{item.name}}</em>
                <em *ngSwitchCase="false" class="client-name-no-edit">{{item.name}}</em>
              </ng-container>
            </span>
            </td>
            <td><span>{{item.mobile}}</span></td>
            <td><span>{{item.sex === 'M' ? '男' : '女'}}</span></td>
            <td><span>{{getAge(item.birdthday | date:'yyyy-MM-dd')}}</span></td>
            <td><span>{{item.socialWelfareName}}</span></td>
            <td><span>{{item.createDt | date:'yyyy-MM-dd'}}</span></td>
            <td><span>{{item.guardian == '1'?'Y':''}}</span></td>
            <td style="max-width:250px"><span *ngFor="let serviceInfo of item.serviceOrders">{{serviceInfo.servicePackName}}  </span></td>
            <td><span>{{item.cardId}}</span></td>
            <td><span>
              <ng-container [ngSwitch]="clientBtn[4].value">
                <em class="health-rechange show-{{!!item.commissionerUserName}}"  *ngSwitchCase="clientBtn[4].value" (click)="healthCareOpen(index)" >
                  {{item.commissionerUserName}}
                </em>
                <em style="color:#009EF9"  *ngSwitchCase="clientBtn[4].value"  (click)="healthCareOpen(index)" class="show-{{!item.commissionerUserName}}">
                  安排专员
                </em>
                <em class="health-rechange-no-edit show-{{!item.commissionerUserName}}"   *ngSwitchCase="!clientBtn[4].value">
                  {{item.commissionerUserName}}
                </em>
                <em style="color:#009EF9" class="health-rechange-no-edit show-{{!!item.commissionerUserName}}"  *ngSwitchCase="!clientBtn[4].value"   >
                  安排专员
                </em>
              </ng-container>

              </span>
            </td>
            <td><span>
              <ng-container [ngSwitch]="clientBtn[5].value">
                <em *ngSwitchCase="true"   class="bind-equip show-{{!item.equipmentNo}}"  (click)="bindSmartBedConfirm(index,content)" >{{item.equipmentNo || '未绑定'}}</em>
                <em *ngSwitchCase="true"   class="bind-equip show-{{!!item.equipmentNo}}"   (click)="cancelSmartBed(index)" >{{item.equipmentNo || '未绑定'}}</em>
                <em *ngSwitchCase="false"    class="bind-equip-no-edit"    >{{item.equipmentNo || '未绑定'}}</em>
              </ng-container>


              </span></td>
            <td><span class="opt">
                            <em ui-sref="home.clientdetail({'userId':item.customerId,'equipNo':item.equipmentNo})" class="show-{{clientBtn[3].value}}">详情</em>
                           <em ui-sref="home.orderpackage({'userId':item.customerId})" class="show-{{clientBtn[6].value}}"  >订购服务包</em>
                           <em (click)="delconfirm(item)" class="show-{{clientBtn[2].value}}" >删除</em>
            </span></td>
          </tr>
        </tbody>
      </table>
      <app-pages [pages]=pages (pageInfo)="pageTurning($event)" [currentPage]=pageNumber [sum]=totalPage></app-pages>

    </div>
  </div>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title">绑定设备</h3>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <div class="line">
        <label for="inline">客户账号</label>
        <span class="inline">
          {{listData[itemTarget].name}}
        </span><span style="float: right;padding-right: 30px;" [hidden]="!listData[itemTarget].mobile"><em style="color:#666666;font-style:normal">手机号码</em>{{listData[itemTarget].mobile}}</span>
      </div>
      <div class="line">
        <label for="">智能床型号</label>
        <div class="inline beauty-sel ">
          <select class="" name="" style="min-width:154px" [(ngModel)]='sources'>
            <option *ngFor="let opt of bedType" value="{{opt.value}}">{{opt.name}}</option>
          </select>
        </div>
      </div>
      <div class="line">
        <label for="">智能床编号</label>
        <div class="inline">
          <input class="nol" type="text" name="" value="" [(ngModel)]="smartBed">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary spec-btn" (click)="saveSmartBed()">确定</button>
    </div>
  </ng-template>
</div>
