<div class="right-content-info client-content">
  <div class="detail-content">
    <div class="highline">
      <div class="lf">
        <app-search-line placeHolderValue="客户请输入" (search)="searchTable($event)"></app-search-line>
      </div>


      <div class="rf  create-btn show-{{clientBtn[0].value}}" (click)="clientActive(-1,clientDetail)" [@newState]="chameleon" (mouseover)="changeMe()" (mouseout)="changeMe()">
        新增客户

      </div>

    </div>

    <div class="table-info">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <td><span>姓名</span></td>
            <td><span>手机号</span></td>
            <td><span>性别</span></td>
            <td><span>年龄</span></td>
            <td><span>机构</span></td>
            <td><span>注册时间</span></td>
            <td><span>是否监护人</span></td>
            <td><span>已购服务包</span></td>
            <td><span>身份证号</span></td>
            <td><span>健康服务专员</span></td>
            <td><span ui-sref="home.binding">绑定设备</span></td>
            <td><span>操作</span></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listData;let index  =index">
            <td><span>
              <ng-container [ngSwitch]="clientBtn[1].value">
                <em *ngSwitchCase="true"  class="client-name" (click)="clientActive(index,clientDetail)">{{item.name}}</em>
                <em *ngSwitchCase="false" class="client-name-no-edit">{{item.name}}</em>
              </ng-container>
            </span>
            </td>
            <td><span>{{item.mobile}}</span></td>
            <td><span>{{item.sex === 'M' ? '男' : '女'}}</span></td>
            <td><span>{{getAge(item.birdthday | date:'yyyy-MM-dd')}}</span></td>
            <td><span>{{item.socialWelfareName}}</span></td>
            <td><span>{{item.createDt | date:'yyyy-MM-dd'}}</span></td>
            <td><span>{{item.guardian == '1'?'Y':''}}</span></td>
            <td style="max-width:250px"><span *ngFor="let serviceInfo of item.serviceOrders">{{serviceInfo.servicePackName}}  </span></td>
            <td><span>{{item.cardId}}</span></td>
            <td><span>
              <ng-container [ngSwitch]="clientBtn[4].value">
                <em class="health-rechange show-{{!!item.commissionerUserName}}"  *ngSwitchCase="clientBtn[4].value" (click)="healthCareOpen(index,healthPerson)" >
                  {{item.commissionerUserName}}
                </em>
                <em style="color:#009EF9"  *ngSwitchCase="clientBtn[4].value"  (click)="healthCareOpen(index,healthPerson)" class="show-{{!item.commissionerUserName}}">
                  安排专员
                </em>
                <em class="health-rechange-no-edit show-{{!item.commissionerUserName}}"   *ngSwitchCase="!clientBtn[4].value">
                  {{item.commissionerUserName}}
                </em>
                <em style="color:#009EF9" class="health-rechange-no-edit show-{{!!item.commissionerUserName}}"  *ngSwitchCase="!clientBtn[4].value"   >
                  安排专员
                </em>
              </ng-container>

              </span>
            </td>
            <td><span>
              <ng-container [ngSwitch]="clientBtn[5].value">
                <em *ngSwitchCase="true"   class="bind-equip show-{{!item.equipmentNo}}"  (click)="bindSmartBedConfirm(index,content)" >{{item.equipmentNo || '未绑定'}}</em>
                <em *ngSwitchCase="true"   class="bind-equip show-{{!!item.equipmentNo}}"   (click)="cancelSmartBed(index)" >{{item.equipmentNo || '未绑定'}}</em>
                <em *ngSwitchCase="false"    class="bind-equip-no-edit"    >{{item.equipmentNo || '未绑定'}}</em>
              </ng-container>


              </span></td>
            <td><span class="opt">
              <!-- ({'userId':item.customerId,'equipNo':item.equipmentNo}) -->
                            <em [routerLink]="['/home/clientDetail',item.customerId,{'equipNo':item.equipmentNo}]" class="show-{{clientBtn[3].value}}">详情</em>
                           <em [routerLink]="['/home/orderpackage',item.customerId]" class="show-{{clientBtn[6].value}}"  >订购服务包</em>
                           <em (click)="delconfirm(index)" class="show-{{clientBtn[2].value}}" >删除</em>
            </span></td>
          </tr>
        </tbody>
      </table>
      <app-pages [pages]=pages (pageInfo)="pageTurning($event)" [currentPage]=pageNumber [sum]=totalPage></app-pages>

    </div>
  </div>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title">绑定设备</h3>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <div class="line">
        <label for="inline">客户账号</label>
        <span class="inline">
          {{listData[itemTarget].name}}
        </span><span style="float: right;padding-right: 30px;" [hidden]="!listData[itemTarget].mobile"><em style="color:#666666;font-style:normal">手机号码</em>{{listData[itemTarget].mobile}}</span>
      </div>
      <div class="line">
        <label for="">智能床型号</label>
        <div class="inline beauty-sel ">
          <select class="" name="" style="min-width:154px" [(ngModel)]='sources'>
            <option *ngFor="let opt of bedType" value="{{opt.value}}">{{opt.name}}</option>
          </select>
        </div>
      </div>
      <div class="line">
        <label for="">智能床编号</label>
        <div class="inline">
          <input class="nol" type="text" name="" value="" [(ngModel)]="smartBed">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary spec-btn" (click)="saveSmartBed()">确定</button>
    </div>
  </ng-template>


  <ng-template #healthPerson let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title">安排健康服务专员</h3>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <div class="line">
        <label for="inline">客户账号</label>
        <span class="inline">
          {{listData[itemTarget].name}}
        </span>
      </div>
      <div class="line">
        <label for="">健康专员</label>
        <div class="inline beauty-sel ">
          <select class="" name="" style="min-width:154px" [(ngModel)]='healthCarePerson'>
            <option *ngFor="let opt of healthpersonlist" value="{{opt.userId}}">{{opt.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary spec-btn" (click)="saveHealthCare()">确定</button>
    </div>
  </ng-template>





  <ng-template #clientDetail let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title">{{itemTarget==-1?'新增':'编辑'}}客户账号</h3>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <div class="msg-info">


        <div class="lf dis-bl">
          <label for=""><em>*</em>姓名</label>
          <div class="inline">
            <input type="text" name="" value="" [(ngModel)]="realname" [ngClass]="{true:'redBorder',false:''}[errorRealname.length>1]">
          </div>
        </div>
        <div class="error" [ngClass]="{true:'error-true',false:''}[errorRealname.length>1]">
          <span>{{errorRealname}}</span>
        </div>
        <div class="lf dis-in">
          <label for="">身份证号</label>
          <div class="inline">
            <input type="text" name="" value="" [(ngModel)]="cardId" [ngClass]="{true:'redBorder',false:''}[errorCardId.length>1]">
          </div>
        </div>
        <div class="lf dis-in">
          <label for="">手机号</label>
          <div class="inline">
            <input type="number" name="" value="" [(ngModel)]="mobile" [ngClass]="{true:'redBorder',false:''}[errorMobile.length>1]">
          </div>
        </div>
        <div class="error" [ngClass]="{true:'error-true',false:''}[bothNumber.length>1]">
          <span>{{errorCardId}}</span>
          <span class="sec">{{errorMobile}}</span>
        </div>
        <div class="lf dis-in">
          <label for="">性别</label>
          <div class="inline sex-opt">
            <span (click)="sexChoosed('M')" [ngClass]="{true:'choosed',false:''}[sex == 'M']">男</span><span [ngClass]="{true:'choosed',false:''}[sex == 'F']" (click)="sexChoosed('F')">女</span>
          </div>
        </div>
        <div class="lf dis-in">
          <label for="">生日</label>
          <div class="inline bt-pos">
            <ng2-flatpickr [config]="exampleOptions" [setDate]="birdthday"></ng2-flatpickr>

          </div>
        </div>
        <div class="lf dis-in">
          <label for="">身高</label>
          <div class="inline pos-rev">
            <input [ngClass]="{true:'redBorder',false:''}[errorHeight.length>1]" type="number" name="" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" value="" [(ngModel)]="height"><span class="pos-ab tail-pos">cm</span>
          </div>
        </div>

        <div class="lf dis-in">
          <label for="">体重</label>
          <div class="inline pos-rev">
            <input [ngClass]="{true:'redBorder',false:''}[errorWeight.length>1]" type="number" name="" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" value="" [(ngModel)]="weight"><span class="pos-ab tail-pos">kg</span>
          </div>
        </div>
        <div class="error" [ngClass]="{true:'error-true',false:''}[bothhw.length>1]">
          <span>{{errorHeight}}</span>
          <span class="sel sec">{{errorWeight}}</span>
        </div>
        <div class="lf dis-bl">
          <label for="">机构</label>
          <div class="inline more-w">
            <select class="nice-sel" name="" style="min-width:154px" [(ngModel)]="myGroup">
              <option value="{{item.socialWelfareId}}"  *ngFor=" let item  of group">{{item.socialWelfareName}}</option>
            </select>
          </div>
        </div>
        <div class="lf dis-bl">
          <label for="">住址</label>
          <div class="inline more-w">
            <input type="text" name="" value="" [(ngModel)]="address">
          </div>
        </div>
        <div class="lf dis-bl">
          <label for="">监护人</label>
          <div class="inline more-w more-label">
            <input type="text" name="" value="" [(ngModel)]="controlInfo" class="dotShow" (click)="showHelpPanel()" readonly="true">
            <div class="la">
              <span *ngFor="let item of checkList">{{item.name}}<em (click)="killCheckListNum(item.id)" class="remove-x"></em></span>
            </div>

            <div class="find" style="display:none">
              <div class="s-input">
                <input type="text" name="" value="" [(ngModel)]="queryHelpInfo" ng-keydown="searchKeydown($event)" placeholder="请输入用户名/手机号">
                <span (click)='initHelpList()'></span>
              </div>
              <div class="" style="overflow:auto;height:150px;">
                <table class="helpMan" cellpadding="0" cellspacing="0" border="0">
                  <thead>
                    <tr>
                      <td><span>选择</span></td>
                      <td><span>姓名</span></td>
                      <td><span>手机号</span></td>
                      <td><span>性别</span></td>
                      <td><span>年龄</span></td>
                      <td><span>注册时间</span></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor=" let item of helpList;let index=index">
                      <td><span><input type="checkbox" name="" value="" [(ngModel)]="item.isChecked" (ngModelChange)="changeState(item.isChecked,index)"></span></td>
                      <td><span>{{item.name}}</span></td>
                      <td><span>{{item.mobile}}</span></td>
                      <td><span>{{item.sex == 'M'?'男':'女'}}</span></td>
                      <td><span>{{getAge(item.birdthday)}}</span></td>
                      <td><span>{{item.createDt | date:'yyyy-MM-dd'}}</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary spec-btn" (click)="saveClientAddOrEdit()">确定</button>
    </div>
  </ng-template>










</div>
