.client-content {
  min-width: 1400px;
}

.table-info table tr span {
  em.client-name {
    background: url('/assets/images/svg/i-editor.svg') right 0 no-repeat;
    background-size: 12px 12px;
    padding-right: 15px;
  }

  em.client-name-no-edit {
    cursor: auto;
  }

  em.bind-equip {
    background: url('/assets/images/svg/i-associated.svg') right 0 no-repeat;
    background-size: 12px 12px;
    padding-right: 15px;
  }

  em.bind-equip-no-edit {
    cursor: auto;
  }

  em.health-rechange {
    background: url('/assets/images/svg/i-change.svg') right 0 no-repeat;
    background-size: 12px 12px;
    padding-right: 15px;
  }

  em.health-rechange-no-edit {
    cursor: auto;
  }
}
