<div class="right-content-info record-info">
  <div class="head-tips">
    <span class=tips-info>平台管理 / 客户管理 / <em>院内档案</em></span>
  </div>
  <div class="detail-content record-detail">

    <div class="mybox" style="height:auto">
      <div class="box-head " style="text-align:left">
        基本信息
      </div>
      <div class="table-info table-def">
        <table cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td><span>病历号</span>
              <span>20000</span></td>
            <td><span>姓名</span>
              <span>开心果</span></td>
            <td><span>性别</span>
              <span>男</span></td>
            <td><span>年龄</span>
              <span>22</span></td>
          </tr>
          <tr>
            <td><span>升高</span>
              <span>33</span></td>
            <td><span>体重</span>
              <span>33kg</span></td>
            <td><span>婚姻</span>
              <span>已婚</span></td>
            <td><span>联系电话</span>
              <span>15159999999</span></td>
          </tr>
          <tr>
            <td><span>地址</span>
              <span>xxxx xxx</span></td>
          </tr>
          <tr>
            <td><span>过敏史</span>
              <span>无</span></td>
          </tr>
          <tr>
            <td><span>既往史</span>
              <span>无</span></td>
          </tr>
        </table>
      </div>
    </div>



    <div class="mybox" style="height:auto">
      <div class="box-head " style="text-align:left">
        就诊信息
      </div>
      <div class="table-info table-def">
        <table cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td><span>就诊日期</span>
              <span>2014-1-1</span></td>
            <td><span>就诊类型</span>
              <span>医保</span></td>
            <td><span>接诊医生</span>
              <span>丁肇中</span></td>
            <td><span>就诊科室</span>
              <span>肛肠科</span></td>
          </tr>
          <tr>
            <td><span>门诊诊断</span>
              <span>阑尾炎</span></td>
          </tr>
        </table>
      </div>
    </div>



    <div class="mybox" style="height:auto">
      <div class="box-head " style="text-align:left">
        门诊处方
      </div>
      <div class="grey-line">
        <span>处方号</span><span>10434234x9</span>
      </div>
      <div class="table-info table-def table-thin">
        <table>
          <tr>
            <td><span>处方类型</span><span>西药</span></td>
            <td><span>开放仪式</span><span>小林优</span></td>
            <td><span>开放日期</span><span>2014.-4.2</span></td>
            <td><span>开方科室</span><span>外科</span></td>
          </tr>

        </table>

      </div>
      <hr/>
      <div class="table-info table-def table-thin">
        <table cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td><span>药品名称</span></td>
            <td><span>药品规格</span></td>
            <td><span>一次计量</span></td>
            <td><span>总数量</span></td>
            <td><span>使用频次</span></td>
            <td><span>用药途径</span></td>
            <td><span>药品剂型</span></td>
          </tr>
          <tr>
            <td><span>头孢</span></td>
            <td><span>0.56</span></td>
            <td><span>1.5000</span></td>
            <td><span>1.00</span></td>
            <td><span>每天3次</span></td>
            <td><span>口服</span></td>
            <td><span>药品</span></td>
          </tr>

        </table>
      </div>
    </div>



    <div class="mybox" style="height:auto">
      <div class="box-head " style="text-align:left">
        住院信息
      </div>
      <div class="table-info table-def">
        <table cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td><span>住院号</span>
              <span>142340234</span></td>
            <td><span>入院日期</span>
              <span>2017-1-4</span></td>
            <td><span>出院日期</span>
              <span>2017-9-1</span></td>
            <td><span>住院天数</span>
              <span>199</span></td>
          </tr>
          <tr>
            <td><span>转归情况</span>
              <span>x'x'x</span></td>
            <td><span>主治医师</span><span>周周周</span></td>
            <td><span>出院科室</span><span>肝胆胰科室</span></td>
            <td><span>病床号</span><span>018</span></td>
          </tr>
          <tr>
            <td><span>入院诊断</span><span>骨折</span></td>
            <td><span>出院小结</span><span>多休息</span></td>
          </tr>
        </table>
      </div>
    </div>



    <div class="mybox" style="height:auto">
      <div class="box-head " style="text-align:left">
        检查报告
      </div>
      <div class="grey-line">
        <span>报告单编号</span><span>1932424xxx9</span>
      </div>
      <div class="table-info table-def">
        <table cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td><span>检查类别</span>
              <span>CT</span></td>
            <td><span>检查项目</span>
              <span>24</span></td>
            <td><span>报告时间</span>
              <span>2017-9-1</span></td>
            <td><span>开单医生</span>
              <span>广发</span></td>
          </tr>
          <tr>
            <td><span>开单科室</span>
              <span>x科室</span></td>
          </tr>
          <tr>
            <td><span>检查结果</span><span>左碗骨折</span></td>
          </tr>
          <tr>
            <td><span>检查描述</span><span>神经外科</span></td>
          </tr>
          <tr>
            <td><span>图文报告</span><span>点击查看</span></td>
          </tr>
        </table>
      </div>
    </div>


    <div class="mybox" style="height:auto">
      <div class="box-head " style="text-align:left">
        检验报告
      </div>
      <div class="grey-line">
        <span>报告单编号</span><span>20172244024</span>
      </div>
      <div class="table-info table-def table-thin">
        <table cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td><span>检验项目</span>
              <span>电解质+xxx</span></td>
            <td><span>样本类型</span>
              <span>血液</span></td>
            <td><span>报告时间</span>
              <span>2017-9-1</span></td>
            <td><span>开单医生</span>
              <span>逛逛逛</span></td>
          </tr>
          <tr>
            <td><span>开单科室</span>
              <span>x'x'x</span></td>
          </tr>
        </table>
      </div>
      <hr>
      <div class="table-info table-def table-thin">
        <table cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td><span>项目</span></td>
            <td><span>异常标志</span></td>
            <td><span>检验结果值</span></td>
            <td><span>检验结果值单位</span></td>
            <td><span>参考范围</span></td>
          </tr>
          <tr>
            <td><span>尿酸</span></td>
            <td><span>上升</span></td>
            <td><span>255</span></td>
            <td><span>umol/L</span></td>
            <td><span>180-440</span></td>
          </tr>
        </table>
      </div>
    </div>


    <div class="mybox" style="height:auto">
      <div class="box-head " style="text-align:left">
        医嘱信息
      </div>
      <div class="table-info table-def table-thin">
        <table cellpadding="0" cellspacing="0" border="0">
          <tr>
            <td><span>药品名称</span></td>
            <td><span>药品规格</span></td>
            <td><span>一次计量</span></td>
            <td><span>使用频次</span></td>
            <td><span>用药途径</span></td>
            <td><span>开始日期</span></td>
            <td><span>结束日期</span></td>
            <td><span>开嘱医生</span></td>
          </tr>
          <tr>
            <td><span>尿酸</span></td>
            <td><span>上升</span></td>
            <td><span>255</span></td>
            <td><span>umol/L</span></td>
            <td><span>180-440</span></td>
            <td><span>adf</span></td>
            <td><span>xxxx</span></td>
            <td><span>aldjl</span></td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</div>
