.sleep-report-info {
  .toptitle {
    margin: 15px 0 0;

    .levelOne {
      text-align: center;
      font-size: 34px;
    }

    .levelTwo {
      text-align: left;
    }
  }

  .vertical-table {
    background-color: white;
    width: 100%;

    .more-info {
      padding: 0;
      margin: 5px;

      table tr td {
        padding: 0;

        span {
          padding: 10px 0;
        }

        .g-info {
          background-color: #d4d4d4;
        }
      }
    }
  }

  .sleep-bed-info {
    width: 100%;

    & > div {
      width: 48%;
      display: inline-block;
      vertical-align: top;
    }
  }
}
