<div class="right-content-info">
  <div class="detail-content">
    <div class="highline">
      <div class="lf">
        <app-search-line placeHolderValue="请输入服务包名" (search)="searchTable($event)"></app-search-line>
      </div>
      <div class=" rf create-btn" ui-sref="home.newpackages" ng-if="role!=2">
        新增服务包
      </div>
    </div>
    <div class="table-info">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <td><span>服务包</span></td>
            <td><span>上架时间</span></td>
            <td><span>价格</span></td>
            <td><span>订单数量</span></td>
            <td><span>状态</span></td>
            <td><span>操作</span></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td><span>{{item.servicePackName}}</span></td>
            <td><span>{{item.createDt | date:'yyyy-MM-dd'}}</span></td>
            <td><span>{{item.priceNew}}</span></td>
            <td><span><em ui-sref="home.order({'query':item.servicePackName})">{{item.serviceNum}}</em></span></td>

            <td><span>{{item.statue == '1'?'上架':'下架'}}</span></td>
            <td><span>
                 <em  ui-sref="home.newpackages({'isEdit':true,'packageId':item.servicePackId})">编辑</em>
                 <em  (click)="handlePackageConfirm({'item':item})" class="color-{{item.statue}}">{{item.statue =='0'?'上架':'下架'}}</em>
              </span></td>
          </tr>
        </tbody>
      </table>
      <app-pages [pages]=pages (pageInfo)="pageTurning($event)" [currentPage]=pageNumber [sum]=totalPage></app-pages>
    </div>
  </div>
</div>
