<div class="right-content-info service-package-info">
  <div class="detail-content">
    <div class="highline">
      <div class="lf">
        <app-search-line placeHolderValue="请输入服务包名" (search)="searchTable($event)"></app-search-line>
      </div>
      <!-- <div class=" rf create-btn" (click)="openModal('')" [hidden]="servicePackageBtn['新增服务包']">
        新增服务包
      </div> -->
    </div>
    <div class="table-info">
      <table cellpadding="0" cellspacing="0" border="0" [hidden]="list.length==0">
        <thead>
          <tr>
            <td><span>服务包</span></td>
            <td><span>上架时间</span></td>
            <td><span>价格</span></td>
            <td><span>订单数量</span></td>
            <td><span>状态</span></td>
            <td><span>操作</span></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list">
            <td><span>{{item.servicePackName}}</span></td>
            <td><span>{{item.createDt | date:'yyyy-MM-dd'}}</span></td>
            <td><span>{{item.priceNew}}</span></td>
            <td><span class="opt"><em [routerLink]="['/home/order']" [queryParams]="{'query':item.servicePackName}">{{item.serviceNum}}</em></span></td>
            <td><span>{{item.statue == '1'?'已上架':'已下架'}}</span></td>
            <td><span class="opt">
                 <!-- <em  (click)="openModal(item.servicePackId)" [hidden]="servicePackageBtn['编辑服务包']">编辑</em> -->
                 <em (click)="handleShow(item.servicePackId)">查看</em>
                 <em  (click)="handlePackageConfirm({'item':item})" class="color-{{item.statue}} del" [hidden]="servicePackageBtn['上/下架']">{{item.statue =='0'?'上架':'下架'}}</em>
              </span></td>
          </tr>
        </tbody>
      </table>
      <nothing [isHidden]="list.length!=0"></nothing>

      <app-pages [pages]=pages (pageInfo)="pageTurning($event)" [currentPage]=pageNumber [sum]=totalPage></app-pages>
    </div>
  </div>
</div>
