.my-task {
  .choose {
    padding: 20px 0 0 20px;
    text-align: left;
  }

  ul.taskChoose {
    padding: 8px 20px 8px 0;
    text-align: left;
    position: relative;
    margin-bottom: -10px;
    margin-top: 10px;

    li {
      span:first-child {
        padding-left: 0;
      }

      span:last-child {
        border-right: 0;
      }

      span {
        float: left;
        color: #333333;
        border-right: 1px solid #D9D9D9;
        border-radius: 0;
        cursor: pointer;
        padding: 0 7px;
        font-size: 14px;
      }

      span.choosed {
        color: #6f4101;
      }
    }
  }
}
