.info{
    padding:20px;
    table{
      width:100%;
      border:1px solid #979797;
      border-radius: 2px;
      text-align: center;
      thead{
        tr{
           span{
               border-bottom: 1px solid #979797;
           }
        }
      }
      tr{
        span{

          width: 100%;
          display: inline-block;
          padding: 10px 0;
          min-width:30px;
          color:#8995b4;
          text-align: center;
          em{
            font-style: normal;
            cursor:pointer;
            padding:0 5px;
          }
        }
      }

      tr:nth-child(even){
        background-color: #f7fafc;
      }

      tbody{
        tr:last-child{
          span{
            border-bottom:0;
          }
        }
      }

    }
}
