$orderMainColor:#6f4100;

  .detail-content{
    text-align: center;
    .highline{
      position: relative;
      height: 50px;
      padding:20px;
      &>div{
        display: inline-block;
      }
      .lf{
        float:left;
        padding:5px;
        input{
          margin-right:8px;
          border-radius:5px;
          border: 1px solid #4c1a1a;
          padding-left:8px;
          height:25px;
        }
        span{
          border:1px solid black;
          padding: 4px 5px;
          border-radius:5px;
        }
      }

      .rf{
        float: right;
        padding: 5px 10px;
        border: 1px solid rgba(47, 64, 6, 0.7);
        border-radius: 3px;
        cursor: pointer;
      }
    }


    .info{
      padding:20px;
      table{
        width:100%;
        border:1px solid $orderMainColor;
        border-radius: 2px;
        text-align: center;
        thead{
          tr{
             span{
                 border-bottom: 1px solid $orderMainColor;
                 color:$orderMainColor;
                 width:100%;
                 display:inline-block;
                 padding: 10px 0;
                 min-width:30px;
             }
          }
        }

        tbody{
          tr{
            span{
              width: 100%;
              display: inline-block;
              padding: 10px 0;
              min-width:30px;
              color:#8995b4;
              text-align: center;
              em{
                font-style: normal;
                cursor:pointer;
                display:inline-block;
                padding:0 5px;
                color:#03A9F4;
              }
            }
          }

          tr:nth-child(even){
            background-color: rgba(217, 237, 247, 0.3);
          }

          tr:last-child{
            span{
              border-bottom:0;
            }
          }
        }

      }
    }

  }
