<div class="right-content-info">
  <div class="detail-content">
    <div class="highline">
      <div class="rf create-btn" (click)="showTpl(-1,groupUI)">
        新增机构
      </div>
    </div>
    <div class="table-info">
      <table cellpadding="0" cellspacing="0" border="0" [hidden]="list.length==0">
        <thead>
          <tr>
            <td><span>机构编码</span></td>
            <td><span>机构名称</span></td>
            <td><span>联系人</span></td>
            <td><span>电话</span></td>
            <td><span>地址</span></td>
            <td><span>操作</span></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list;let i = index">
            <td><span>{{item.socialWelfareCode}}</span></td>
            <td><span>{{item.socialWelfareName}}</span></td>
            <td><span>{{item.contact}}</span></td>
            <td><span>{{item.tel}}</span></td>
            <td><span>{{item.province}} {{item.city}} {{item.district}} {{item.address}}</span></td>

            <td><span class="opt">
               <em (click)="showTpl(i,groupUI)">编辑</em>
               <em (click)="handleDel(item.socialWelfareId)" class="del">删除</em>
            </span></td>
          </tr>
        </tbody>
      </table>
      <nothing [isHidden]="list.length!=0"></nothing>

      <app-pages [pages]=pages (pageInfo)="pageTurning($event)" [sum]=totalPage [currentPage]=pageNumber></app-pages>

    </div>
  </div>


  <ng-template #groupUI let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h3 class="modal-title">{{itemTarget==-1?'新增':'编辑'}}客户账号</h3>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      <div class="msg-info">


        <div class="lf dis-in">
          <label for=""><em>*</em>机构代码</label>
          <div class="inline">
            <input type="text" name="" value="" [(ngModel)]="groupCode" [ngClass]="{true:'redBorder',false:''}[errorGroupCode.length>1]">
          </div>
        </div>
        <div class="lf dis-in">
          <label for=""><em>*</em>机构名称</label>
          <div class="inline">
            <input type="text" name="" value="" [(ngModel)]="groupName" [ngClass]="{true:'redBorder',false:''}[errorGroupName.length>1]">
          </div>
        </div>
        <div class="error" [ngClass]="{true:'error-true',false:''}[bothGroup.length>1]">
          <span>{{errorGroupCode}}</span>
          <span class="sec">{{errorGroupName}}</span>
        </div>
        <div class="lf dis-in">
          <label for="">联系人</label>
          <div class="inline">
            <input type="text" name="" value="" [(ngModel)]="connectPeople" [ngClass]="{true:'redBorder',false:''}[errorConnectPeople.length>1]">
          </div>
        </div>
        <div class="lf dis-in">
          <label for="">电话</label>
          <div class="inline sex-opt">
            <input type="number" name="" value="" [(ngModel)]="mobile" [ngClass]="{true:'redBorder',false:''}[errorMobile.length>1]">
          </div>
        </div>
        <div class="error" [ngClass]="{true:'error-true',false:''}[bothInfo.length>1]">
          <span>{{errorConnectPeople}}</span>
          <span class="sec">{{errorMobile}}</span>
        </div>
        <div class="lf dis-bl">
          <label for="">住址</label>
          <div class="inline moreSel">
            <div class="sels">
              <select class="" name="" [(ngModel)]="choosedProvince" (change)="onChanges($event.target.value,1)">
                <option  *ngFor="let item of provinces" value="{{item.regionName}}={{item.regionId}}">{{item.regionName}}</option>
              </select>
              <select class="" name="" [(ngModel)]='choosedCities' (change)="onChanges($event.target.value,2)">
                <option value="请选择=-1">请选择</option>

                <option  *ngFor="let item of cities" value="{{item.regionName}}={{item.regionId}}">{{item.regionName}}</option>
              </select>
              <select class="" name="" [(ngModel)]="choosedStreets">
                <option value="请选择=-1">请选择</option>
                <option  *ngFor="let item of streets" value="{{item.regionName}}={{item.regionId}}">{{item.regionName}}</option>
              </select>
            </div>
            <input type="text" name="" value="" [(ngModel)]="address">
          </div>
        </div>
        <div class="lf dis-bl">
          其他联系人
        </div>
        <div class="lf dis-bl">
          <div class="contacts" *ngFor="let item of contacts;let index=index">
            <div class="inline">
              <label for="">姓名</label>
              <input type="text" name="" value="" class="t-name" [(ngModel)]="item.contact" [ngClass]="{true:'redBorder',false:''}[item['error'].length>2]">
            </div>
            <div class="inline">
              <label for="">电话</label>
              <input type="number" name="" value="" class="t-mobile" [(ngModel)]="item.tel">
            </div>
            <div class="inline">
              <label for="">职务</label>
              <input type="text" name="" value="" class="t-duty" [(ngModel)]="item.post">
            </div>
            <div class="inline ">
              <input type="checkbox" name="" [value]="item.commissioner" class="t-ck" [(ngModel)]="item.commissioner">
              <label for="">平台专员</label>
            </div>
            <div class="del inline" (click)="delContacts(index)">
            </div>
            <div class="error" style="text-align:left; margin-top: -4px;margin-bottom: 8px;margin-left: -10px;" [ngClass]="{true:'error-true',false:''}[item['error'].length>2]">
              <span>{{errorName}}</span>
            </div>
          </div>
          <div class="add-contact" (click)="addContacts($event)">
            添加联系人
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary spec-btn" (click)="saveGroupAddOrEdit()">确定</button>
    </div>
  </ng-template>

</div>
