.detailform{
  width:100%;
  margin:20px auto;
  .line{
    display:block;
    width:600px;
    margin:auto;
    margin-bottom:20px;
    &>label{
      width: 100px;
      text-align: right;
      float: left;
    }
    .inline{
      text-align: left;
      padding-left: 120px;
      &>label{
        padding-right: 20px;
        padding-left:5px;
      }
      input[type="text"],textarea{
        width:300px;
        color:black;
      }
      div.tab-content-select{
        position: relative;
      }

      .pos{
        left:0;
      }
    }

    .head-img-line{
      position:relative;

      img#headImg{
        width:60px;
        height:60px;
        border-radius: 60px;
      }


    }
  }
  .btn{
    background-color: #0095ff;
    color: white;
    width: 100px;
    margin-top: 20px;
    margin-left: 540px;
    border-radius: 5px;
    padding: 5px 0;
    text-align: center;
  }
}

.myheadImag{
  opacity: 0;
  height: 60px;
}
