<div class="right-content">
  <app-line-info  lineInfo="绑定设备"></app-line-info>

  <div class="detail-content">
    <div class="detailform">
      <div class="line">
        <label for="">姓名</label>
        <div class="inline">
          <input type="text" name="" value="" [(ngModel)]="name" disabled="">
        </div>
      </div>
      <div class="line">
        <label for="">手机号</label>
        <div class="inline">
          <input type="text" name="" value="" [(ngModel)]="mobile" disabled="">
        </div>
      </div>
      <div class="line">
        <label for="">智能床编号</label>
        <div class="inline">
          <input type="text" name="" value="" [(ngModel)]="smartBedId">
        </div>
      </div>
      <div class="btn" (click)="save()">
        保存
      </div>
    </div>
  </div>
</div>
