<div class="right-content-info health-monitor-info">
  <div class="head-tips">
    <span class=tips-info>健康管理 /我的任务 / <em>健康监测</em></span>
  </div>
  <div class="detail-content detail-content-pad txt-pos">
    <div class="person-info-block">
      <div class="info-head">
        <span>个人信息</span>
      </div>
      <div class="table-info-person">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
              <td><span>姓名</span></td>
              <td><span>手机号</span></td>
              <td><span>性别</span></td>
              <td><span>年龄</span></td>
              <td><span>注册时间</span></td>
              <td><span>健康服务专员</span></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span>{{!!userInfo.name?userInfo.name:'未知'}}</span></td>
              <td><span>{{userInfo.mobile}}</span></td>
              <td><span>{{userInfo.sex === 'M' ? '男' : '女'}}</span></td>
              <td><span>{{getAge(userInfo.birdthday | date:'yyyy-MM-dd')}}</span></td>
              <td><span>{{userInfo.createDt | date:'yyyy-MM-dd'}}</span></td>
              <td><span>{{userInfo.commissionerUserName?userInfo.commissionerUserName:'无'}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="mybox" style="overflow:hidden">
      <div class="box-head">
        <div class="box-head-line">
          <ng-container [ngSwitch]="type">
            <ng-container *ngSwitchCase="1">血糖监测</ng-container>
            <ng-container *ngSwitchCase="2">血压监测</ng-container>
            <ng-container *ngSwitchCase="3">BMI监测</ng-container>
            <ng-container *ngSwitchCase="4">血氧监测</ng-container>
            <ng-container *ngSwitchCase="5">体温监测</ng-container>
          </ng-container>
        </div>
      </div>
      <div class="table-info" style="padding:15px;background-color:white">
        <table cellpadding="0" cellspacing="0" border="0" *ngIf="type==1">
          <thead>
            <tr>
              <td><span>血糖时间段</span></td>
              <td><span>血糖值</span></td>
              <td><span>时间</span></td>
              <td><span>备注</span></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="tableInfo.timeSlot==0">
              <td><span>餐前</span></td>
              <td><span>{{tableInfo.sugarValue}}</span></td>
              <td><span>{{tableInfo.measurementTimeBs}}</span></td>
              <td><span>{{tableInfo.remarkBs}}</span></td>
            </tr>
            <tr *ngIf="tableInfo.timeSlot==1">
              <td><span>餐后</span></td>
              <td><span>{{tableInfo.sugarValue}}</span></td>
              <td><span>{{tableInfo.measurementTimeBs}}</span></td>
              <td><span>{{tableInfo.remarkBs}}</span></td>
            </tr>
          </tbody>
        </table>

        <table cellpadding="0" cellspacing="0" border="0" *ngIf="type==2">
          <thead>
            <tr>
              <td><span>收缩压(高压)</span></td>
              <td><span>舒张压(低压)</span></td>
              <td><span>心率</span></td>
              <td><span>时间</span></td>
              <td><span>备注</span></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span>{{tableInfo.systolicPressure}}</span></td>
              <td><span>{{tableInfo.stretchPressure}}</span></td>
              <td><span>{{tableInfo.heartRateValue}}</span></td>
              <td><span>{{tableInfo.measurementTimeBp}}</span></td>
              <td><span>{{tableInfo.remarkBp}}</span></td>
            </tr>
          </tbody>
        </table>



        <table cellpadding="0" cellspacing="0" border="0" *ngIf="type==3">
          <thead>
            <tr>
              <td><span>身高</span></td>
              <td><span>体重</span></td>
              <td><span>BMI</span></td>
              <td><span>监测时间</span></td>
              <td><span>备注</span></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span>{{tableInfo.height}}</span></td>
              <td><span>{{tableInfo.weight}}</span></td>
              <td><span>{{tableInfo.bmi}}</span></td>
              <td><span>{{tableInfo.occurDt | date:'yyyy-MM-dd HH:mm:ss'}}</span></td>
              <td><span>{{tableInfo.remarkBmi}}</span></td>
            </tr>
          </tbody>
        </table>

        <table cellpadding="0" cellspacing="0" border="0" *ngIf="type==4">
          <thead>
            <tr>
              <td><span>血氧饱和度</span></td>
              <td><span>监测时间</span></td>
              <td><span>备注</span></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span>{{tableInfo.spo2}}</span></td>
              <td><span>{{tableInfo.dealDt | date:'yyyy-MM-dd HH:mm:ss'}}</span></td>
              <td><span>{{tableInfo.remarkBmi}}</span></td>
            </tr>
          </tbody>
        </table>

        <table cellpadding="0" cellspacing="0" border="0" *ngIf="type==5">
          <thead>
            <tr>
              <td><span>体温</span></td>
              <td><span>监测时间</span></td>
              <td><span>备注</span></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span>{{tableInfo.temp}}</span></td>
              <td><span>{{tableInfo.dealDt | date:'yyyy-MM-dd HH:mm:ss'}}</span></td>
              <td><span>{{tableInfo.remarkBmi}}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
