$borderColor: #D2D2D2;
$yellowColor: #FECA00;

.line-btn {
  span {
    border: 1px solid $borderColor;
    border-right: 0;
    display: inline-block;
    line-height: 30px;
    cursor: pointer;
    font-style: normal;
    width: 110px;
    background-color: white;
    text-align: center;
    padding: 2px 0;
    cursor: pointer;
  }

  span.tips:hover {
    color: $yellowColor;
  }

  span.choosed {
    background-color: $yellowColor;
  }

  span:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  span:last-child {
    border-right: 1px solid $borderColor;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
