<div class="container" >
  <div class="toolbar clearfix" >
    <div class="logo">
      <img src="assets/img/smart-care.png" width="85" height="23" alt="Smart Care"><span>后台管理</span>
    </div>
    <div class="statistical">
      <a href="javascript:;" class="statistical-item icon-{{icon}}" (click)="toogleUserInfo()">
        <img  src="{{icon}}?imageView2/2/w/80/h/80" class="head-icon" alt="">
        {{userName}}</a>
      <div class="user-info dis-{{toggleLogOutFlag}}">
        <div class="user-detail">
          <span class="user-name" >{{userName}}</span>
          <span class="logout" (click) = 'logOut()' >退出登录</span>
        </div>
      </div>
    </div>

  </div>
  <div class="sidebar home-sidebar" style="position:fixed;top:80px;left:0" ng-class="{fold: fold}">
    <h2 class="catalog">智汇健康医养护平台</h2>
    <div class="inner">
      <div class="organization-menu">
        <ul class="first-level">
          <li ><span   class="myAccount">平台管理</span>
              <ul class="second-level">
                <li class="dotHover"><span routerLink= '/home/client' activedRoute = 'active' class="">客户管理</span></li>
                <!-- <li class="dotHover"><span ui-sref="home.servicepackage" ng-click="$ctrl.handerColorLevel2(2,$event)" class="">服务包管理</span></li>
                <li class="dotHover"><span ui-sref="home.order" ng-click="$ctrl.handerColorLevel2(3,$event)" class="">订单管理</span></li>
                <li class="dotHover"><span ui-sref="home.accounts" ng-click="$ctrl.handerColorLevel2(4,$event)" class="">账号管理</span></li>
                <li class="dotHover"><span ui-sref="home.health" ng-click="$ctrl.handerColorLevel2(5,$event)" class="">健康服务专员管理</span></li> -->
              </ul>
        </li>
          <!-- <li ><span  ng-click="$ctrl.toggleMenu($event)"  class="carePatient">慢病管理</span>
              <ul class="second-level">
                <li class="dotHover"><span ui-sref="home.mytask" ng-click="$ctrl.handerColorLevel2(1,$event)" class="">我的任务</span></li>
              </ul>
          </li>
          <li ><span  ng-click="$ctrl.toggleMenu($event)"  class="set">设置</span>
              <ul class="second-level">
                <li class="dotHover"><span ui-sref="home.jurisdiction" ng-click="$ctrl.handerColorLevel2(1,$event)" class="">权限管理</span></li>
                <li class="dotHover"><span ui-sref="home.feedback" ng-click="$ctrl.handerColorLevel2(2,$event)" class="">意见反馈</span></li>
              </ul>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="content">
  <router-outlet></router-outlet>
  </div>
</div>
