$homeMainColor:#6f4100;
.beds-zone {
  padding: 90px 10px 40px 40px;
  .room-list {
    float: left;
    margin: 0 30px 30px 0;
  }
}

.home-sidebar {
  padding-top: 50px;
  transition: all .3s;
  line-height: 30px;

  .myAccount{
    background: url('/assets/img/sidebar/main.png') no-repeat 0 0;
    padding-left: 25px;
    background-size: 18px 18px;
  }

  .accountsManage{
    background: url('/assets/img/sidebar/app.png') no-repeat 0 0;
    padding-left: 25px;
    background-size: 18px 18px;
  }

  .healthManage{
    background: url('/assets/img/sidebar/alarm.png') no-repeat 0 0;
    padding-left: 25px;
    background-size: 18px 18px;
  }

  .customerManager{
    background: url('/assets/img/sidebar/customer.png') no-repeat 0 0;
    padding-left: 25px;
    background-size: 18px 18px;
  }

  .servicePackage{
    background: url('/assets/img/sidebar/fuwu.png') no-repeat 0 0;
    padding-left: 25px;
    background-size: 18px 18px;
  }

  .orderManage{
    background: url('/assets/img/sidebar/order.png') no-repeat 0 0;
    padding-left: 25px;
    background-size: 18px 18px;
  }

  .carePatient{
    background: url('/assets/img/sidebar/care.png') no-repeat 0 0;
    padding-left: 25px;
    background-size: 18px 18px;
  }

  .set{
    background: url('/assets/img/sidebar/set.png') no-repeat 0 0;
    padding-left: 25px;
    background-size: 18px 18px;
  }

  .menuShow{
    display:none;
  }
  .flag{
    background-color:#e0b373;
  }
  &.fold {
    transform: translate3d(-100%,0,0);
  }
  .toggle-bar {
    position: absolute;
    top: 90px;
    right: 0;
    width: 11px;
    height: 32px;
    background-color: rgba(252,199,14,0.65);
    background-image: url("/assets/img/sprite-arrow.png");
    background-repeat: no-repeat;
    background-position: -13px center;
    cursor: pointer;
    transition: all .1s;
    &.unfold {
      background-color: #6f4100;
      background-position: -50px center;
      transform: translate3d(100%,0,0);
    }
  }
  .organization-menu {
    color: white;
    .toggle-menu {
      display: none;
    }
    ul {
      li {
        .provices-icon {
          @extend %query-bk;
          background-size: 16px 16px;
          background-image: url(/assets/img/provices-icon.png);
        }

        span{
          color:#6f4100;
          margin-left:25px;
        }
      }
    }
    li {
      cursor: pointer;
      min-height:30px;
    }
    .li-icon {
      padding: 5px;
    }

    ul.second-level{
      li{
        span{
          padding:5px;
          padding-left:35px;
        }
        .checkFlag{
          background-color: #777790;
          border-radius: 5px;
        }
      }
    }

    li.dotHover:hover{
      background-color: #e0b373;
    }

  }
  .organization-link {
    color: #6f4100;
    text-decoration: none;
    &.active {
      background-color: #ffca00;
    }
  }
}

.toolbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  left:0;
  top:0;
  height: 80px;
  line-height: 50px;
  background-color: #fcc80e;
  .logo{
    display: inline-block;
    margin-left: 20px;
    line-height: 80px;
    background-image: url(/assets/img/logo.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 60px 36px;
    padding-left: 85px;
    img{
        vertical-align: middle;
    }
    span{
      font-size: 18px;
      color: #6a4306;
      margin-left: 10px;
      border-left: 1px solid #6a4306;
      padding-left: 10px;
    }
  }
  .statistical {
    float: right;
    padding: 0 25px;
    margin-right:6%;
    font-size: 0;
    line-height: 80px;
    .user-info{
      width: 224px;
      position: absolute;
      right: 13%;
      top: 67px;
      background-color: white;
      box-shadow: 0px 0px 4px #737373;
      .user-detail{
        padding:10px;
        .user-name{
              background: url("/assets/img/icon-user-logout.png") 0 0 no-repeat;
              background-size: 32px 32px;
              background-position-x: 10px;
              background-position-y: 5px;
              padding-left: 52px;
              display: block;
              padding-top: 10px;
              padding-bottom: 22px;
              color: $homeMainColor;
              line-height: 20px;
              border-bottom: 1px solid #979797;
              font-size: 20px;
              cursor: pointer;
              min-height:20px;
        }

        .user-name:hover{
          color:#35b3f8;
        }

        .logout{
          color:black;
          font-size: 20px;
          line-height: 20px;
          color:$homeMainColor;
          display:block;
          padding:10px;
          padding-top: 20px;
          cursor:pointer;
        }
        .logout:hover{
          color:#35b3f8;
        }

      }
    }

    .user-info:before{
      position: absolute;
      content: ' ';
      top: -20px;
      right: 10px;
      height: 0;
      width: 0;
      border: solid transparent;
      border-width: 10px;
      border-bottom-color: #fff;
    }

    .dis-true{
      display:none;
    }
  }
  .statistical-item {
    position: relative;
    display: inline-block;
    padding: 0 15px;
    font-size: 15px;
    vertical-align: middle;
    opacity: 0.91;
    color: #7b520f;
    text-decoration: none;
    background: url('/assets/img/sidebar/user.png') no-repeat;
    min-width:40px;
    height:40px;
    background-size: 32px 32px;
    background-position-y: 5px;
    padding-left: 40px;
    line-height: 40px;
    > em {
      font-style: normal;
    }
    &.active {
      color: #35b3f8;
      font-weight: bold;
      font-size: 18px;
    }
    img.head-icon{
      width: 40px;
      height: 40px;
      border-radius: 50px;
      position: absolute;
      left: -9px;
    }
  }
  .statistical-total {
    font-size: 17px;
    color: #fcc80e;
    text-shadow: 1px 3px 4px #f8e59f;
  }
  .statistical-abnormal em {
    color: #fbcb3c;
  }
  .statistical-alarm em {
    color: #eb232a;
  }

  .search-box {
    float: right;
    padding: 0 30px;
    font-size: 0;
    .search-inner {
      display: inline-block;
      height: 30px;
      line-height: 30px;
      margin: 10px 0;
      border-right: 1px solid #979797;
      font-size: 0;
    }
    .search-filter {
      position: relative;
      display: inline-block;
      font-size: 16px;
      &:before {
        content: "";
        position: absolute;
        top: 10px;
        left: -1px;
        height: 30px;
        border-left: 1px solid #979797;
      }
    }
    .search-type {
      @extend %query-font;
      margin-right: 1px;
      background-image: url("/assets/img/logo-dropdown.png");
      background-repeat: no-repeat;
      background-position: 96px center;
      background-size: 13px 8px;
    }
    .search-dropdown {
      position: absolute;
      left: 0;
      top: 0;
      background: #fff;
      box-shadow: 3px 5px 6px 0px rgba(0,0,0,0.21);
      > li {
        @extend %query-font
      }
    }
    .search-input {
      height: 22px;
      line-height: 22px;
      padding: 0 30px 0 10px;
      border-width: 0 0 0 1px;
      font-size: 16px;
      outline: 0 none;
      background-color: #f7fafc;
      background-image: url("/assets/img/icon-search.png");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 20px 20px;
    }
    .search-submit {
      display: inline-block;
      width: 50px;
      text-align: center;
      font-size: 16px;
      color: #886327;
      text-decoration: none;
      &:hover,
      &:active {
        color: #6692ff;
      }
    }
  }
}

.content.full {
  margin-left: 0;
}

%query-font {
  padding: 0 33px 0 23px;
  font-size: 16px;
  color: #794f05;
  cursor: pointer;
  &:hover {
    background-color: #e8d9b4;
  }
}

%query-bk {
  padding-left: 20px;
  background-repeat: no-repeat;
  vertical-align: middle;
}
