<div class="container">
  <div class="toolbar clearfix">
    <div class="logo">
      <span>医养护融合服务平台</span>
    </div>
    <div class="statistical">
      <a class="statistical-item icon-{{!icon}}" (click)="toogleUserInfo()">
        <img ng-hide="!icon" src="{{icon}}?imageView2/2/w/80/h/80" class="head-icon" alt="">
        {{userNameState}}</a>
      <div class="user-info dis-{{toggleLogOutFlag}}">
        <div class="user-detail">
          <span class="user-name" (click)="showMyAccount()">账号信息</span>
          <span class="pwd" (click)="dispearBlock()">修改密码</span>
          <span class="logout" (click)="logOut()">退出账号</span>
        </div>
      </div>
    </div>

  </div>
  <div class="sidebar home-sidebar" style="position:fixed;top:57px;z-index:5" ng-class="{fold: fold}">
    <div class="inner">
      <div class="organization-menu">

        <ul class="first-level">
          <li><span (click)="toggleMenu($event)" class="myAccount">平台管理</span>
            <ul class="second-level">
              <li class="dotHover" routerLink='/home/client' routerLinkActive='active'><span>客户管理</span></li>
              <li class="dotHover" routerLink='/home/servicepackage' routerLinkActive='active'><span>服务包管理</span></li>
              <li class="dotHover" routerLink='/home/order' routerLinkActive='active'><span>订单管理</span></li>
              <li class="dotHover" ng-if="role!=2" routerLink='/home/accounts' routerLinkActive='active'><span>账号管理</span></li>

              <li class="dotHover" ng-if="role!=2" routerLink='/home/waiter' routerLinkActive='active'><span>健康服务专员管理</span></li>
            </ul>
          </li>

          <li><span (click)="toggleMenu($event)" class="carePatient">慢病管理</span>
            <ul class="second-level">
              <li class="dotHover"><span routerLink='/home/client' routerLinkActive='active'>我的任务</span></li>
              <li class="dotHover"><span routerLink='/home/client' routerLinkActive='active'>异常提醒</span></li>
              <li class="dotHover">
                <span [routerLink]="[{outlets:{walking:['xxx']}}]">kakkakaka</span>
                <!-- <span routerLink="/">ggg</span> -->
              </li>
              <li class="dotHover">
                <span routerLink="/login">fff</span>
              </li>
            </ul>
          </li>

        </ul>

      </div>
    </div>
  </div>
  <div class=" content ">
    <router-outlet></router-outlet>
    <router-outlet name="walking"></router-outlet>

  </div>
</div>
